<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		{{#block "head"}}
		<meta charset="utf-8" />
		<title>ValetBasket</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Ankur Sanghi-bought from stepofweb on wrapbootstrap" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout-shop.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<link rel="icon" href="assets/images/ValetBasketLogo.png"></link>
		{{/block}}
	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ValetBasket?</h6>
						<p>ValetBasket enables the convenience through the Power of Us.</p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-attachment"></i> Areas currently covered </h6>
						<ul class="list-unstyled">
							<li>Morrisville</li>
							<li>Cary-SouthWest</li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 1005 Delaronde Ln <br /> Morrisville, NC 27560 USA</li>
							<li><b>Phone:</b> 1-678-744-3720 </li>
							<li><b>Email:</b> <a href="mailto:support@valetbasket.com">support@valetbasket.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- Top Bar -->
			<div id="topBar" class="dark">
				<div class="container">

					<!-- right -->
					<ul class="top-links list-inline pull-right">
				<!-- TBD- take this portion and stick into the rest of the views, make this one a block -->
				{{#block "loggedIn"}}
				{{/block}}
					</ul>

					<!-- left -->
					<!--
					<ul class="top-links list-inline">
						<li class="hidden-xs"><a href="/faqs">FAQ</a></li>
						<li>
							<a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><img class="flag-lang" src="assets/images/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
						</li>
						<li>
							<a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">USD</a>
							<ul class="dropdown-langs dropdown-menu">
								<li><a tabindex="-1" href="#">USD</a></li>
							</ul>
						</li>
					</ul>
					-->
				</div>
			</div>
			<!-- /Top Bar -->

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="sticky dark clearfix">

				<!-- SEARCH HEADER -->
				<div class="search-box over-header">
					<a id="closeSearch" href="#" class="glyphicon glyphicon-remove"></a>

					<form action="page-search-result-1.html" method="get">
						<input type="text" class="form-control" placeholder="SEARCH" />
					</form>
				</div> 
				<!-- /SEARCH HEADER -->


				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="pull-right nav nav-pills nav-second-main">

						</ul>
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo pull-left" href="/">
							<img src="assets/images/ValetBasketLogo.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li class="dropdown active"><!-- HOME -->
										<a href="/"> HOME </a>
									</li>
									 
									<li class="dropdown">
										<a class="dropdown-toggle" href="#"> ABOUT</a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<a href="/about"> ABOUT US </a>
											</li>
										
										</ul>
									</li>
									
									<!-- Add more options later : commenting out blog and agent -->
									<!-- <li class="dropdown"><!-- How to participate -->
									<!--	<a class="dropdown-toggle" href="#">
									<!--		EARN WITH US! 
									<!--	</a>
									<!--	<ul class="dropdown-menu">
									<!--		<li class="dropdown">
									<!--			<a href="#"> <i class="et-browser"></i>BECOME AN AGENT </a>
									<!--		</li>
									<!--		<li class="dropdown">
									<!--			<a href="#"> <i class="et-hotairballoon"></i> STORE PARTNERS </a>
									<!--		</li>
									<!--		<li class="dropdown">
									<!--			<a href="#"> <i class="et-anchor"></i> HOW TO ORDER?</a>
									<!--		</li>
									<!--	</ul>
									<!-- </li> -->
									
									<!-- <li><!-- BLOG -->
									<!--	<a href="/blog"> BLOG </a> -->
									<!-- </li> -->
									<li ><!-- SHORTCODES --> 
										<a href="/howitworks">  HOW IT WORKS ? 
										</a>
									</li>	
									<li ><!-- SHORTCODES --> 
										<a href="/order">  PLACE ORDER NOW !  
										</a>
									</li>
									
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>
	{{#block "mainbody"}}
	{{{body}}}

	{{/block}}
	{{#block "footer"}}

			<!-- GOOTER -->
			<footer id="footer" class="footer-fixed opacity-9">
				<div class="container nomargin-bottom nopadding clearfix size-12">

					<!-- Social Icons -->
					<div class="clearfix pull-left mobile-block text-center">

						<a href="https://www.facebook.com/valetbasket/?fref=ts>" class="social-icon social-icon-sm social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

                        <!-- HVK: Add gplus and linked in in the future
						<a href="#" class="social-icon social-icon-sm social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
							<i class="icon-gplus"></i>
							<i class="icon-gplus"></i>
						</a>

						<a href="#" class="social-icon social-icon-sm social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
                        HVK -->
						<span class="pull-left footer-links hidden-xs">
							<span>(+1)678-744-3720 </span>
							<a href="mailto:support@valetbasket.com">Contact</a>
							<a href="/faqs">FAQ</a>
						</span>
					</div>
					<!-- /Social Icons -->


					<span class="hidden-xs size-13 line-height-30 pull-right">
						&copy; 2015 Conjoinz Inc. All Rights Reserved.
					</span>


				</div>
			</footer>
			<!-- /GOOTER -->
	{{/block}}

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

	{{#block "scripts"}}

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
		<script type="text/javascript" src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script> 
		
		<!-- STYLESWITCHER - REMOVE -->
<!--		<script async type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js"></script> -->

		<!-- PAGE LEVEL SCRIPTS -->
		<script type="text/javascript" src="assets/js/view/demo.shop.js"></script>

	{{/block}}

	</body>
</html>
