
{{#if name}}
	<li class="text-welcome hidden-xs">Welcome to ValetBasket, <strong>{{name}}</strong></li>
	<li>
	<a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
	<ul class="dropdown-menu pull-right">
		<li><a tabindex="-1" href="/orderHistory"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="/profile"><i class="fa fa-cog"></i> MY SETTINGS</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="/logout"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
	</ul>
	</li>
{{else}}
	<li class="hidden-xs"><a href="/login">LOGIN</a></li>
{{/if}}
