{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
<div class="container">
<div id="shopLoadModal" class="modal fade" data-autoload="true" data-autoload-delay="2000">
	<div class="modal-dialog modal-full">
		<div class="modal-content" style="background-image:url('http://cdn.shopify.com/s/files/1/1110/6088/t/3/assets/slide_1.jpg?8230385423886746510');">

			<!-- header modal -->
			<div class="modal-header noborder">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="block-content">
					<img src="http://www.ncapnabazar.com/images/logo.jpg" alt="" />
					<h2 class="size-15 margin-bottom-10 margin-top-30 text-white">Ordering from ApnaBazar?</h2>
					<p class="size-13 margin-bottom-20 text-white"> Please visit our partner website <a href="http://apnabazar.valetbasket.com"> here </a> to place an order through ApnaBazar.
					<!-- Don't show this popup again -->
					<div class="size-11 text-left">
						<label class="checkbox pull-left">
							<input class="loadModalHide" type="checkbox" />
							<i></i> <span class="weight-300">Don't show this popup again</span>
						</label>

					</div>
					<!-- /Don't show this popup again -->

				</div>

			</div>
		</div>
	</div>
</div>
<p class="size-13 margin-bottom-20"> Please visit our partner website <a href="http://apnabazar.valetbasket.com"> here </a> to place an order through ApnaBazar.
</div>
{{/content}}

{{#content "scripts" mode="append"}}
{{/content}}

	</body>
</html>
{{/extend}}

