{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
<div class="container">
	<!-- -->
	<section>
	<div class="container text-center">

		<h1 class="margin-bottom-20 size-30">ValetBasket is now partnering with Apna Bazar !</h1>
		<p class="size-20 font-lato text-muted">Get special deals from Apna Bazar:</p>
		<p class="size-20 font-lato text-muted">Special discounted prices ! ( See table below for this week's promotions !)</p>
		<p class="size-20 font-lato text-muted">Orders over $50 : $2.99 per delivery</p>
		<p class="size-20 font-lato text-muted">Orders over $100: Free Delivery !</p>
	</div>
	
	
	<h4> Store Promotions </h4>
	<div class="table-responsive">
		<table class="table table-bordered table-vertical-middle">
			<thead>
				<tr>
					<th class="width-250">Item # </th>
					<th class="width-250">Item  </th>
					<th class="width-250">Item Store Price </th>					
					<th class="width-250">Promotion Price </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">1</td>					
					<td class="text-center">Aashirwaad Atta</td>
					<td class="text-center">$10.99</td>
					<td class="text-center">$10</td>
				</tr>
								<tr>
					<td class="text-center">2</td>					
					<td class="text-center">Any Dal (Non- Organic only)</td>
					<td class="text-center"></td>
					<td class="text-center">$1 off list price</td>
				</tr>
				<tr>
					<td class="text-center">3</td>					
					<td class="text-center">Raw peanuts (Apna Bazar Brand)</td>
					<td class="text-center">$5.99</td>
					<td class="text-center">$4</td>
				</tr>
				<tr>
					<td class="text-center">4</td>					
					<td class="text-center">Dates(28 oz)</td>
					<td class="text-center">$5.99</td>
					<td class="text-center">$5</td>
				</tr>
				<tr>
					<td class="text-center">5</td>					
					<td class="text-center">Vita Coco(30 ml) Coconut water</td>
					<td class="text-center">$16.99</td>
					<td class="text-center">$15</td>
				</tr>
				<tr>
					<td class="text-center">6</td>					
					<td class="text-center">Sona Masoori India Gate brand - 20 lb</td>
					<td class="text-center">$12.99</td>
					<td class="text-center">$12</td>
				</tr>
			</tbody>
		</table>
	</div>



	</section>


</div>
{{/content}}

{{#content "scripts" mode="append"}}
{{/content}}

	</body>
</html>
{{/extend}}

