{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
<div class="container">
	<!-- -->
	<section>
	<div class="container text-center">

		<h1 class="margin-bottom-20 size-30">PARTNERS PAGE IS UNDER CONSTRUCTION</h1>
		<p class="size-20 font-lato text-muted">Please, check back again , we are working hard.</p>

		<div style="max-width:550px; margin:auto; margin-top:60px;">
			<div class="countdown countdown-lg" data-labels="years,months,weeks,days,hour,min,sec" data-from="December 25, 2015 12:00:00"><!-- Example Date From: December 31, 2018 15:03:26 --></div>
		</div>

	</div>
	</section>


</div>
{{/content}}

{{#content "scripts" mode="append"}}
{{/content}}

	</body>
</html>
{{/extend}}

