{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{#if name}}
	<li class="text-welcome hidden-xs">Welcome to ValetBasket, <strong>{{name}}</strong></li>
	<li>
		<a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
		<ul class="dropdown-menu pull-right">
			<li><a tabindex="-1" href="#"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#"><i class="fa fa-cog"></i> MY SETTINGS</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
		</ul>
	</li>
{{else}}
	<li class="hidden-xs"><a href="/login">LOGIN</a></li>

{{/if}}
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">

<div class="display-table">
	<div class="display-table-cell vertical-align-middle">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-md-push-7 col-lg-push-8 col-sm-push-7">

					<!-- ALERT -->
					<!--
					<div class="alert alert-mini alert-danger margin-bottom-30">
						<strong>Oh snap!</strong> Login Incorrect!
					</div>
					-->
					<!-- /ALERT -->

					<!-- register form -->
					<form id="myform" class="nomargin sky-form boxed" method="POST">
						<header>
						<i class="fa fa-users"></i> Register
						</header>
						{{#if msg}}
						<div class="alert alert-danger margin-bottom-30"><!-- DANGER -->
							{{msg}}
						</div>
						{{/if}}

						<fieldset class="nomargin">					
							<label class="input">
								<i class="ico-append fa fa-envelope"></i>
								<input type="text" id="email" name="email" placeholder="Email address">
								<b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
							</label>

							<label class="input">
								<i class="ico-append fa fa-lock"></i>
								<input type="password" name="pwd" id="password" placeholder="Password">
								<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
							</label>

							<label class="input">
								<i class="ico-append fa fa-lock"></i>
								<input type="password" id="passwordagain" name="passwordagain" placeholder="Confirm password">
								<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
							</label>

							<div class="row">
								<div class="col-md-6">
									<label class="input">
										<input type="text" name="firstname" placeholder="First name">
									</label>
								</div>
								<div class="col col-md-6">
									<label class="input">
										<input type="text" name="lastname" placeholder="Last name">
									</label>
								</div>
							</div>

							<label class="select">
								<select name="sex">
									<option value="0" selected disabled>Gender</option>
									<option value="1">Male</option>
									<option value="2">Female</option>
									<option value="3">Other</option>
								</select>
								<i></i>
							</label>

							<div class="margin-top-20">
								<label class="checkbox nomargin"><input class="checked-agree" type="checkbox" name="checkbox"><i></i>I agree to the <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Service</a></label>
							</div>
						</fieldset>

						<div class="row margin-bottom-20">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> REGISTER</button>
							</div>
						</div>
						<div class="row margin-bottom-20">
							<div class="col-md-12">
								<a href="/passwordreset">Forgot password?</a>
							</div>
						</div>

					</form>
					<!-- /register form -->

				</div>

				<div class="col-xs-12 col-md-7 col-sm-7 col-lg-8 col-lg-pull-4 col-md-pull-5 col-sm-pull-5">


							<h2 class="size-16">INSTRUCTIONS</h2>
							<p class="text-muted"> Create an account with us. </p>
							<p class="text-muted"> In the future you willbe able to use your facebook or linked in account to login.</p>

				</div>

			</div>

		</div>

	</div>
</div>

</section>

{{/content}}
{{#content "scripts" mode="append"}}
<script type="text/javascript" src="assets/plugins/form.validate/jquery.form.min.js"></script>
<script type="text/javascript" src="assets/plugins/form.validate/jquery.validation.min.js"></script>
<script>
	jQuery.validator.setDefaults({
		success: "valid"
	});
	var validator = $( "#myform" ).validate({
		rules: {
			password: "required",
			email: "required",
			passwordagain: {
				equalTo: "#password"
			}
		}
	});
</script>
{{/content}}
{{/extend}}
