{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
<!-- SWIPER SLIDER -->
<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "mainbody"}}

			<!-- -->
			<section>
				<div class="container">
					
					<div class="row">

						<!-- LEFT TEXT -->
						<div class="col-md-5 col-md-offset-1">
							
							<h2 class="size-16">INSTRUCTIONS</h2>
							<p class="text-muted"> Create an account with us. </p>
							<p class="text-muted"> In the future you willbe able to use your facebook or linked in account to login.</p>

						</div>
						<!-- /LEFT TEXT -->


						<!-- LOGIN -->
						<div class="col-md-4">
						
							<h2 class="size-16">LOGIN</h2>

							<!-- login form -->
							<form method="post" action="#" autocomplete="off">
								<div class="clearfix">
									
									<!-- Email -->
									<div class="form-group">
										<input type="text" name="email" class="form-control" placeholder="Email" required="">
									</div>
									
									<!-- Password -->
									<div class="form-group">
										<input type="password" name="password" class="form-control" placeholder="Password" required="">
									</div>
										
								</div>
								
								<div class="row">
									
									<div class="col-md-6a col-sm-6 col-xs-6">
										
										<!-- Inform Tip -->                                        
										<div class="form-tip pt-20">
											<a class="no-text-decoration size-13 margin-top-10 block" href="/passwordreset">Forgot Password?</a>
										</div>
										
									</div>
									
									<div class="col-md-6a col-sm-6 col-xs-6 text-right">

										<button class="btn btn-primary">OK, LOG IN</button>

									</div>
									
									<div class="col-md-6a col-sm-6 col-xs-6 text-right">
										<a class="no-text-decoration size-13 margin-top-10 block" href="/signup">Dont have account ? Signup !</a>
									</div>									
								</div>
								
							</form>
							<!-- /login form -->
							{{#if invalid}}
								<!-- ALERT -->
								<div class="alert alert-mini alert-danger margin-bottom-30">
									<strong>Oh snap!</strong> {{message}}
								</div><!-- /ALERT -->
							{{/if}}

						</div>
						<!-- /LOGIN -->

					</div>

					
				</div>
			</section>
			<!-- / -->
{{/content}}
{{/extend}}
