{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
	<!-- SWIPER SLIDER -->
	<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{#if name}}
	<li class="text-welcome hidden-xs">Welcome to ValetBasket ! We shop and deliver for you ! <strong>{{name}}</strong></li>
	<li>
		<a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
		<ul class="dropdown-menu pull-right">
			<li><a tabindex="-1" href="#"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#"><i class="fa fa-cog"></i> MY SETTINGS</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
		</ul>
	</li>
{{else}}
	<li class="hidden-xs"><a href="/login">LOGIN</a></li>
{{/if}}
{{/content}}
{{#content "mainbody"}}

			<!-- 
				SLIDER

				Classes:
					.fullheight = full height slider
			-->
			<section id="slider" class="fullheight">

				<!--
					SWIPPER SLIDER PARAMS
					
					data-effect="slide|fade|coverflow"
					data-autoplay="2500|false"
				-->
				
				<div class="swiper-container has-fixed-footer" data-effect="slide" data-autoplay="false">
					<div class="swiper-wrapper">

						<!-- SLIDE 1 -->
						<div class="swiper-slide" style="background-image: url('http://d3rtv8m6yldinp.cloudfront.net/home_slide_1.jpg');">
							<div class="overlay dark-1"><!-- dark overlay [0 to 9 opacity] --></div>
							
							<div class="display-table">
								<div class="display-table-cell vertical-align-middle">
									<div class="container">

										<div class="slider-featured-text absolute bottom-right text-right">
											<h2 class="text-white wow fadeInUp" data-wow-delay="0.4s">
												<em class="weight-300">We shop and deliver for you! </em> 
											</h2>
											<h3 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s"> Valet Basket is a grocery shopping and delivery service to your door !</h3>
											<a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="/order">Place an Order Now&raquo;</a>
										</div>
							
									</div>
								</div>
							</div>
							
						</div>
						<!-- /SLIDE 1 -->

						<!-- SLIDE 2 -->
						<div class="swiper-slide" style="background-image: url('http://d3rtv8m6yldinp.cloudfront.net/home_slide_2.jpg');">
							<div class="overlay dark-1"><!-- dark overlay [0 to 9 opacity] --></div>
							
							<div class="display-table">
								<div class="display-table-cell vertical-align-middle">
									<div class="container">

										<div class="slider-featured-text absolute bottom-left text-left">
											<h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">
												<em class="weight-300 text-white">What can we do for you ? </em>
											</h1>
											<h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">We can save you time on your daily chores !</h2>
											<a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="/order">Place an Order Now&raquo;</a>
										</div>
							
									</div>
								</div>
							</div>
							
						</div>
						<!-- /SLIDE 2 -->

						<!-- SLIDE 3 -->
						<div class="swiper-slide" style="background-image: url('http://d3rtv8m6yldinp.cloudfront.net/home_slide_3.jpg');">
							<div class="overlay dark-1"><!-- dark overlay [0 to 9 opacity] --></div>
							
							<div class="display-table">
								<div class="display-table-cell vertical-align-middle">
									<div class="container">

										<div class="slider-featured-text absolute bottom-left text-left">
											<h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">
												<em class="weight-300 text-white">How does it work ? </em>
											</h1>
											<h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">Create an account with us first !</h2>
											<a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="/order">Place an Order Now&raquo;</a>
										</div>
							
									</div>
								</div>
							</div>
							
						</div>
						<!-- /SLIDE 3 -->
						
						<!-- SLIDE 4 -->
						<div class="swiper-slide" style="background-image: url('http://d3rtv8m6yldinp.cloudfront.net/home_slide_5.jpg');">
							<div class="overlay dark-1"><!-- dark overlay [0 to 9 opacity] --></div>
							
							<div class="display-table">
								<div class="display-table-cell vertical-align-middle">
									<div class="container">

										<div class="slider-featured-text absolute bottom-left text-left">
											<h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">
												<em class="weight-300 text-white">How does it work ? </em>
											</h1>
											<h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">Create your shopping list ! And ... </h2>
											<a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="/order">Place an Order Now&raquo;</a>
										</div>
							
									</div>
								</div>
							</div>
							
						</div>
						<!-- /SLIDE 4 -->
					</div>

					<!-- Swiper Pagination -->
					<div class="swiper-pagination"></div>

					<!-- Swiper Arrows -->
					<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
					<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
				</div>
					
			</section>
			<!-- /SLIDER -->

	{{/content}}

	{{#content "scripts" mode="append"}}
		<!-- SWIPER SLIDER -->
		<script type="text/javascript" src="assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>
		<script type="text/javascript" src="assets/js/view/demo.swiper_slider.js"></script>
	{{/content}}

	</body>
</html>
{{/extend}}
