<h4>One of our guest representative will get in touch with you shortly to review your order. Please call us at 678-744-3720 to let us know if there is something you would like to change about your order. Otherwise, leave it to us and enjoy your time with your family.</h4>
<br/>
The delivery of orders placed before 5 PM are done the same day. Otherwise, the delivery will be done the next day between 6 PM and 9 PM.
<br/>
We prefer checks or cash. If you do not have cash at home, we understand. Our representatives will have a Square dongle. We charge our customers a 3% fee on the invoice total ( = cost of items including taxes + delivery service fee) for the convenience.

<p>
<span style="display:block">Warmly yours,</span>
<span style="display:block">Team ValetBasket</span>
</ul>
