<h4>Please call us at 678-744-3720 to let us know if there is something you would like to change about your order.</h4>
<br/>
Otherwise, leave it to us and enjoy your time with your family.

<p>
<span style="display:block">Warmly yours,</span>
<span style="display:block">Team ValetBasket</span>
</ul>
