{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
	<!-- SWIPER SLIDER -->
	<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">	

            <div class="container">
			<!-- -->
			<section>
				<div class="container">
					
					<div class="row">
					
						<div class="col-lg-5 col-md-5 col-sm-5">

							<img class="img-responsive" src="http://d3rtv8m6yldinp.cloudfront.net/back.jpg" alt="">

						</div>

						<div class="col-lg-7 col-md-7 col-sm-7">
							<h2 class="size-25">Our Story</h2>

							<p> Did you know the average family in America spends more than 2.5 hours grocery shopping every week? This time could be used for spending time with family or doing the things they love to do.
							</p> 
							<p> The Johnsons, a loving family of four with two kids faces this problem. Mr. Johnson and Ms. Johnson both work long hours and complain they don’t have enough time to go grocery shopping as they are always busy either with work or with attending to their kids. What’s the result? The Johnson family ends up eating outside almost on a daily basis. They realize eating outside frequently is unhealthy but think they don’t have an option.
							</p><p> Standing in check-out lines, waiting in traffic, and having to make multiple trips to different stores along with impulsive buying unwanted items, add to the frustration of grocery shopping. The Johnsons wished someone could help by not only shopping for groceries but also delivering them right to their house. That’s when they discovered Valet Basket. 	
							</p>
							<p> Valet Basket is a hassle-free service that uses an uber-like model where one can make their shopping list and place their order for items to be delivered directly to their doorstep. 
							</p>
							<blockquote>
							</blockquote>

						</div>

					</div>
					
				</div>
			</section>


                    </div>
	{{/content}}




	{{#content "scripts" mode="append"}}
	{{/content}}

	</body>
</html>
{{/extend}}
