{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
	<!-- SWIPER SLIDER -->
	<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
            <div class="container">


				<div class="container">

					<div class="row">
					
						<!-- item -->
						<div class="col-md-3 col-sm-6 col-lg-3">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/31-min.jpg" alt="" />
											<h2>Create an account with us ! </h2>
											<small></small>
										</span>
									</div>
								</div>

								<div class="back">
									<div class="box2 box-default">

										<hr />
										<p> Go to our website and create an account with us. You will be able to login using FB or Googleplus accounts in the future. </p>

										<hr />
									</div>
								</div>
							</div>

						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-3 col-sm-6 col-lg-3">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/34-min.jpg" alt="" />
											<h2>Create your list online !</h2>
										</span>
									</div>
								</div>

								<div class="back">
									<div class="box2 box-default">
										<hr />
										<p> You can type in your order in an excel sheet or you can use your phone to scan items into a pantry and list.</p>
										<hr />
									</div>
								</div>
							</div>

						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-3 col-lg-3 col-sm-6">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/vanonroad.jpg" alt="" />
											<h2>Schedule your delivery.</h2>
										</span>
									</div>
								</div>

								<div class="back">
									<div class="box2 box-default">
										<hr />
										<p>We deliver between 6 and 8 p.m every day. Once you schedule your order, sit back and relax !</p>
										<hr />
									</div>
								</div>
							</div>

						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-3 col-lg-3 col-sm-6">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/deliveryman.jpg" alt="" />
											<h2>Get your groceries delivered safe and on time to your doorstep !</h2>
										</span>
									</div>
								</div>


							</div>

						</div>
						<!-- /item -->

					</div>

				</div>


                    </div>
	{{/content}}




	{{#content "scripts" mode="append"}}
	{{/content}}

	</body>
</html>
{{/extend}}
	