{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
	<!-- SWIPER SLIDER -->
	<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">
            <div class="container">


				<div class="container">
					<ul class="process-steps nav nav-justified">
						<li>
							<a href="#"><i class="icon-desktop"></i></a>
							<h5>Create account</h5>
						</li>

						<li>
							<a href="#"><i class="icon-shopping-cart"></i></a>
							<h5>Make shopping list</h5>
						</li>
						<li class="active">
							<a href="#"><i class="icon-pencil"></i></a>
							<h5>Schedule delivery</h5>
						</li>
						<li>
							<a href="#"><i class="icon-ok"></i></a>
							<h5>Get your groceries</h5>
						</li>
					</ul>
				
					<div class="row">
					
						<!-- item -->
						<div class="col-md-3 col-sm-6 col-lg-3">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/31-min.jpg" alt="" />
											<h2> One click ! </h2>
											<small></small>
										</span>
									</div>
								</div>
							</div>

						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-3 col-sm-6 col-lg-3">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/34-min.jpg" alt="" />
											<h2> With our easy to use order form and MyPantry mobile app! </h2>
										</span>
									</div>
								</div>
							</div>

						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-3 col-lg-3 col-sm-6">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/vanonroad.jpg" alt="" />
											<h2>Place order before 5 p.m and get your order delivered between 6 and 9 p.m. daily </h2>
										</span>
									</div>
								</div>
							</div>

						</div>
						<!-- /item -->

						<!-- item -->
						<div class="col-md-3 col-lg-3 col-sm-6">

							<div class="box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
								<div class="front">
									<div class="box1 box-default">
										<span class="box-icon-title">
											<img class="img-responsive" src="assets/images/demo/1200x800/deliveryman.jpg" alt="" />
											<h3>Do what you love while we deliver your order !</h3>
										</span>
									</div>
								</div>


							</div>

						</div>
						<!-- /item -->

					</div>

				</div>


                    </div>
	{{/content}}




	{{#content "scripts" mode="append"}}
	{{/content}}

	</body>
</html>
{{/extend}}
	