{{#extend "mainLayoutPartial"}}
{{#content "head" mode="append"}}
	<!-- SWIPER SLIDER -->
	<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
{{/content}}
{{#content "loggedIn"}}
{{> settings_dropdown}} 
{{/content}}
{{#content "mainbody"}}
<section style="background:url('assets/images/demo/wall2.jpg')">	

                    <div class="container">
						<!-- LEFT COLUMNS -->
						<div class="col-md-12">

							<p class="lead"> Valet Basket FAQ .</p>

							<!-- TOGGLES -->
							<div class="toggle toggle-transparent toggle-bordered-full margin-top-60">

								<div class="toggle"><!-- toggle -->
									<label>1. What is Valet Basket ?</label>
									<div class="toggle-content">
										<p class="clearfix">
											<!--
											<img class="hidden-sm pull-left img-responsive" src="assets/images/demo/girl_looking-min_thumb.jpg" alt="Careers" />
											-->
											Valet Basket is a grocery shopping and delivery service to your door. We connect you with shoppers in your area, shop for your groceries and deliver them to your door.
											<br /><br />
											</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>2. What do you deliver ?</label>
									<div class="toggle-content">
										<p class="clearfix">
											 Currently, Valet Basket delivers any items that are available from supported grocery stores.
										</p>

										<div class="row">

											<div class="col-md-4 col-sm-6">

												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Whole Foods</li>
													<li>Trader Joe's</li>
													<li>Harris Teeter</li>
													<li>Apna Bazar</li>
												<!--	<li>Fresh Market</li>	-->
												</ul>

											</div>


										</div>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>3. Where do you deliver ?</label>
									<div class="toggle-content">

										<p> Valet Basket is currently available in Morrisville, Cary and Raleigh. </p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>4. What are the hours of delivery ?</label>
									<div class="toggle-content">
										<p>Valet Basket can take your orders at any time. We deliver the groceries in the evening from 6 to 9 pm, 7 days a week. Orders received before 5PM EST will be serviced on the same day.</p>
									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>5. What stores are supported ?</label>
									<div class="toggle-content">
										<p>We currently support shopping from Harris Teeter, Apna Bazar, Trader Joes and Whole Foods. In the future we have plans to support shopping from Lowes Foods, Sams Club, Earth Fare, Publix and Suvidha. Your suggestions are welcome. </p>
									</div><!-- /toggle -->
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>6. How do I place an order ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										Please create an account on our website first : http://www.valetbasket.com. Use our website to create your grocery list easily. After creating the grocery list, submit the list and one of our shoppers will contact you to confirm the order and also resolve any qiestions regarding the order.
										</p>
									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>7. Can I place orders from multiple stores ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										At this time, we only support orders from one store at a time. However, if you nee orders from multiple stores, please let your shopper know when he/she calls for order confirmation and we will be happy to work with you for special requests.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>8. What if there are items that you cannot deliver from the store ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										For any reason, if an item on your list is not available at the store, our shopper will contact you by phone to let you know of the status and to see if there is any alternate item that would satisfy your need.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>9. Can I add special instructions to my order?</label>
									<div class="toggle-content">
										<p class="clearfix">
										Our grocery list template on the web site allows you to add special instructions/note to each item on the list.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>10. How do I check on the status of my order ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										Currently, we do not have a way for users to check the status of the order but shortly, we will support our app, which you can download from the app store and using your account credentials you will be able to see when the the order has been accepted, shopper has been assigned, when shopping is completed and is en-route to delivery.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>11. How can I update my order ? </label>
									<div class="toggle-content">
										<p class="clearfix">
										Before submitting the order on our website, you can change the order as many times as you want.  Once the order is placed, you will have another chance to update the list when your shopper contacts you.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>12. How much does delivery cost ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										  We will charge $5.99 flat fee for each order for this pilot launch. We may have to change the pricing structure based on your feedback in future.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>13. Are prices different than in-store prices ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										ValetBasket passed on store prices and deals to the customers. We don’t charge any premiums for items.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>14. What types of payments do you accept?</label>
									<div class="toggle-content">
										<p class="clearfix">
										We prefer payment through checks. For the convenience of our customers, we do accept payment through credit cards. But there will be an additional charge of 3% on the overall order amount.  
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>15. Do you honor in-store  sales or coupons ?</label>
									<div class="toggle-content">
										<p class="clearfix">
										Our shoppers have store-loyalty cards at all the supported stores and pass on the savings to the customers.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>16. What if I am not at home to receive the order?</label>
									<div class="toggle-content">
										<p class="clearfix">
										We require that you are at home to receive the order. Our shopper will contact you and confirm that they can come to your residence for delivery.
										</p>

									</div>
								</div><!-- /toggle -->

							</div>
							<!-- /TOGGLES -->

							<!-- CALLOUT -->
							<div class="callout alert alert-border margin-top-60 margin-bottom-60">

								<div class="row">

									<div class="col-md-9 col-sm-12"><!-- left text -->
										<h4>Sign up now or call <strong>+1-678-744-3720</strong>!</h4>
										<p class="font-lato size-17">
											We truly care about our users and our product.
										</p>
									</div><!-- /left text -->

									
									<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
										<a href="/order" rel="nofollow" target="_blank" class="btn btn-default btn-lg">Place an order now !</a>
									</div><!-- /right btn -->

								</div>

							</div>
							<!-- /CALLOUT -->

						</div>
						<!-- /LEFT COLUMNS -->
                    </div>


	{{/content}}

	{{#content "scripts" mode="append"}}
	{{/content}}

	</body>
</html>
{{/extend}}
